:root{
  --green:#009246;
  --red:#ce2b37;
  --dark:#151515;
  --light:#f7f7f7;
  --card:#ffffff;
}

*{box-sizing:border-box}

body{
  margin:0;
  font-family:Arial,sans-serif;
  background:var(--light);
  color:#222;
}

header{
  background:linear-gradient(135deg,var(--green),#ffffff,var(--red));
  padding:45px 20px;
  text-align:center;
}

header h1{
  font-size:34px;
  margin:0;
}

header p{
  font-size:18px;
}

nav{
  position:sticky;
  top:0;
  background:var(--dark);
  padding:12px;
  text-align:center;
  z-index:10;
}

nav a{
  color:white;
  text-decoration:none;
  font-weight:bold;
  margin:6px;
  display:inline-block;
}

main{
  max-width:1050px;
  margin:auto;
  padding:22px;
}

.hero{
  background:white;
  border-radius:22px;
  padding:28px;
  box-shadow:0 8px 25px rgba(0,0,0,.12);
  margin-bottom:24px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
  gap:18px;
}

.card{
  background:var(--card);
  border-radius:18px;
  padding:22px;
  box-shadow:0 4px 16px rgba(0,0,0,.09);
}

.card h2{
  color:var(--green);
  margin-top:0;
}

.button{
  display:inline-block;
  background:var(--red);
  color:white;
  text-decoration:none;
  padding:13px 18px;
  border-radius:12px;
  font-weight:bold;
  margin-top:8px;
}

.word{
  background:#f1f1f1;
  border-left:5px solid var(--green);
  padding:12px;
  border-radius:10px;
  margin:8px 0;
}

.progress{
  background:#ddd;
  border-radius:20px;
  overflow:hidden;
  height:18px;
}

.progress div{
  background:var(--green);
  height:100%;
  width:1.1%;
}

footer{
  text-align:center;
  padding:25px;
  color:#666;
}
.dark{
    background:#121212;
    color:white;
}

.dark .card{
    background:#1f1f1f;
    color:white;
}

.dark nav{
    background:#000;
}

.dark header{
    filter:brightness(.85);
}
